navbar.navbar.navbar-expand-lg.navbar-dark
 a.navbar-brand(href="/") All Tours
 button.navbar-toggler(data-target="#my-nav" data-toggle="collapse" type="button"  aria-label="Toggle navigation")
  span.navbar-toggler-icon
 .collapse.navbar-collapse(id="my-nav")
  if user
   ul.navbar-nav.ml-auto
    li.nav-login.nav-item.active.mr-3
     a(href="/me")
      img(src=src=`/User-images/${user.photo}` alt=`Photo of ${user.name}`)
      span.name-header.text-white.ml-2.text-capitalize=user.name
    li.nav-item
     a.btn.btn-secondary.text-white.mt-2.mr-3.my-2.btn-sm.mb-1.btn-2.text-capitalize.logout Log out
  
  else 
   ul.navbar-nav.ml-auto
    li
     a.btn.btn-info.text-white.btn-sm.mr-3.mt-2.mb-1.text-uppercase(href="/login") Signin
    li
     a.btn.text-white.btn.btn-outline-primary.mr-3.mt-2.btn-sm.mb-1.btn-2.text-uppercase(href="/signup") SignUp

   //-li.nav-login
    img(src=src=`/User-images/${user.photo}`alt=`Photo of ${user.name}`)
    span.text-white.ml-2=user.name.split('')[0]
    //-li
    //- a(class="btn btn-info btn-sm mr-3 mt-2 my-2") Logout
    

  

  
//-.carousel.slide#carouselExampleIndicators( data-ride="carousel")
 ol.carousel-indicators
  li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
  li.active(data-target="#carouselExampleIndicators" data-slide-to="1")
  li.active(data-target="#carouselExampleIndicators" data-slide-to="2")
 .carousel-inner
  .carousel-item.active
   img.d-block.w-100( src="/img/sunrise.jpg" alt="First slide")
   .carousel-caption.d-md-block
    h5.h2  NATOURS
    p Natours
  .carousel-item
   img.d-block.w-100(src="/img/airport-519020.jpg" alt="Second slide")
   .carousel-caption.d-md-block
    h5.h2 NATOURS
    p Main
  .carousel-item
   img.d-block.w-100(src="/img/mesh.png" alt="Third slide")
   .carousel-caption.d-md-block
    h5.h2 NATOURS
    p Main
 a.carousel-control-prev( href="#carouselExampleIndicators" role="button" data-slide="prev")
  span.carousel-control-prev-icon(aria-hidden="true")
  span.sr-only Previous
 a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
  span.carousel-control-next-icon(aria-hidden="true")
  span.sr-only Next